<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Recorded streams</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='WebRTC Video Conference App' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
		<!--<script src='/js/home.js'></script>-->		
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
		<script type="text/javascript" src="/assets/js/angular-source.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
		
		
	</head>
	<body> 
		 <header style="margin-bottom: 20px;background-color: #d9edf7;padding: 10px 30px" class="row">
            <h2>Recorded Streams</h2>  	
         </header>
        <% include recorded %>          
	</body>
</html>
