
<main class="container-fluid" ng-controller="recordService">
	<div class="filter-div">
		<input placeholder="filter by date or name" class="form-control" ng-model="filter.video">
	</div>	
	<div id="videoContainer" class="videoContainers">
    	<!--<video id="localVideo" ng-src='' controls="true" muted="muted" autoplay="false" style="width: 100%;height:100%"></video>-->    	
    </div>
	
</main>                     

